/*

!/.gitignore
!LICENSE
!README*
!CMakeLists.txt
!*.cpp
!*.hpp

!/misc
/misc/.*
!/submission
/submission/.*
!/figure
/figure/.*


!/sdm
!/eigen*
!/libsdm
!/Eigen

!/lib
!/c/
/c/**
!/c/src
/c/src/**
!/c/src/*.cpp
!/c/src/*.hpp
!/c/src/*.h
!/c/src/CMakeLists.txt

!/c/test
/c/test/**
!/c/test/*.cpp
!/c/test/*.hpp
!/c/test/CMakeLists.txt

#/c/**


!/src
/src/**
!/src/*.cpp
!/src/*.hpp
!/src/*.h
!/src/CMakeLists.txt

!/test
/test/**
!/test/*.cpp
!/test/*.hpp
!/test/*.h
!/test/CMakeLists.txt


!/lambda/test
/lambda/test/**
!/lambda/test/*.cpp
!/lambda/test/*.hpp
!/lambda/test/CMakeLists.txt

# /lambda/**

# !/result
# !/dataset


!/with_cplex
/with_cplex/**
!/with_cplex/CMakeLists.txt
!/with_cplex/src
/with_cplex/src/**
!/with_cplex/src/*.cpp
!/with_cplex/src/*.hpp
!/with_cplex/src/*.h
!/with_cplex/src/CMakeLists.txt

!/with_cplex/tets
/with_cplex/tets/**
!/with_cplex/tets/*.cpp
!/with_cplex/tets/*.hpp
!/with_cplex/tets/CMakeLists.txt

!/plot
!/examples
!/experiments
.DS_Store
nohup.out

!/dataset
.DS_Store
/dataset/news20*

!/document
.DS_Store
/document/**
!/document/fig**
!/document/draft**
!/document/shibagaki**
!/document/icml**
.DS_Store
/document/fig/**
!/document/fig/*.eps
!/document/fig/*.png
!/document/fig/*.jpeg
!/document/fig/*.jpg
!/document/fig/*.xbb
!/document/fig/*.bb
!/document/*.tex
!/document/*.pdf

!/oekaki

!/solutions
/solutions/*
!/solutions/*.zsh

