/*

!/.gitignore
!LICENSE
!README*
!CMakeLists.txt
!*.cpp
!*.hpp

!/src
/src/**
!/src/*.cpp
!/src/*.hpp
!/src/*.h
!/src/CMakeLists.txt

!/test
/test/**
!/test/*.cpp
!/test/*.hpp
!/test/*.h
!/test/CMakeLists.txt


